<?xml version="1.0"?>
<config>
    <modules>
        <LCB_BodyClass>
            <version>1.0.0</version>
        </LCB_BodyClass>
    </modules>
    <global>
        <helpers>
            <bodyclass>
                <class>LCB_BodyClass_Helper</class>
            </bodyclass>
        </helpers>
        <models>
            <bodyclass>
                <class>LCB_BodyClass_Model</class>
            </bodyclass>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <add_lcb_bodyclass>
                        <class>bodyclass/observer</class>
                        <method>addBodyClass</method>
                    </add_lcb_bodyclass>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
</config> 